
/* Mixin styles */

/* Hide text when it's replaced by an image */
.image-replacement {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}

/* General styling of nav menu items */
%menu-item {
  text-decoration: none;
  color: transparentize($color_white, 0.2);
  @include ie8 {
    color: $color_white;
  }
  background-color: $main_menu-link_text;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    background-color: $color_white;
    color: transparentize($main_menu-link_text, 0.2);
    @include ie8 {
      color: $main_menu-link_text;
    }
    &:hover{
       text-decoration: underline;
        color: transparentize($main_menu-link_text, 0);
    }
  }
  transition: background-color 0.5s ease-out;

}

/* Selected menu item */
%selected-menu-item {
  font-weight: bold;
  color: $main_menu-active_link_text;
  background-color: $main_menu-active_link_bg;
  &:hover{
      background-color: $main_menu-active_link_bg;
  }
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    background-color: $color_white;
    &:hover{
        background-color: $color_white;
    }
  }
}

/* General styles */
body{
  background-color: $body-bg;
  color: $body-font-color;
}

.entirebody {
  font-family: $font-family;
}

a {
  &:link,
  &:visited {
    color: $link-color;
  }
  &:hover,
  &:active,
  &:focus {
    color: darken($link-color, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $font-family;
}

/* Let h1s be a little smaller on small screens */
@media( max-width: $main_menu-mobile_menu_cutoff ){
  h1 {
    font-size: 2em;
  }
}

/* Square corners for text type inputs */
form input[type="text"],
form input[type="password"],
form input[type="search"],
form input[type="email"],
form input[type="url"],
form input[type="tel"],
form input[type="number"] {
    border-radius: 0;
    transition: all 0.3s ease-out;
     &:focus{
          background-color: $color_ni_lightest_blue;
      }
    /* Set a fixed height for text inputs in older IE 8 */
    @include ie8{
        height: 2.3125em;
    }
    /* Do the same in px for IE < 7 */
    @include lte-ie7{
        height: 22px;
    }
}

input.use-datepicker[type=text] {
  width: 130px;
  background:image-url('calendar.png') no-repeat 100px 5px $color_white;
}

/* Button styles */

@mixin button-base($size: normal, $disabled: false) {
  padding: 0.5em 1.25em;
  border-radius: 3px;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 300ms ease-out;
  margin-bottom: 0;
  font-family: $font-family;
  @if $size == large {
    font-size: 2.2em;
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    transition: background-color 300ms ease-out;
  }
  @if $disabled {
    opacity: 0.333;
    transition: none;
    &:hover,
    &:active,
    &:focus {
      background-color: inherit;
      color: inherit;
      cursor: default;
      transition: none;
    }
  }
}

@mixin button-primary($args...) {
  @include button-base($args...);
  color: $color_white;
  background-color: $button-bg;
  border: none;
  &:hover,
  &:active,
  &:focus,
  &:visited:hover,
  &:visited:active,
  &:visited:focus {
    background-color: darken($button-bg, 10%);
    color: $color_white;
  }
}

@mixin button-secondary($args...) {
  @include button-base($args...);
  background-color: desaturate(darken($color_ni_even_lighter_blue, 10%), 5%);
  color: $color_white;
  font-weight: normal;
  &:hover,
  &:active,
  &:focus {
    color: $color_white;
    background-color: desaturate(darken($color_ni_even_lighter_blue, 20%), 5%);
  }
}

@mixin button-tertiary($args...) {
  @include button-base($args...);
  background-color: desaturate(darken($color_ni_even_lighter_blue, 5%), 5%);;
  color: $color_white;
  font-weight: normal;
  border: 1px solid desaturate(darken($color_ni_even_lighter_blue, 15%),5%);
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color_ni_even_lighter_blue, 7.5%);
    border: 1px solid desaturate(darken($color_ni_even_lighter_blue, 25%),5%);
  }
}

form input[type=submit], a.link_button_green, a.link_button_green_large {
  @include button-primary;
  text-decoration: none;
}

a.link_button_green_large {
  @include button-primary($size: large);
}

/* Popups */

.popup {
  background-color: $notice-bg;
  border: 3px solid $notice-border;
}


/* Header */


#banner_inner {
  background-color: $banner-bg;
}

#topnav {
  background-color: $main_menu-bg;
}

.site-title__logo {
  // Smaller logo on mobiles
  width: ($logo-width / 2);
  height: ($logo-height / 2);
  background-size: ($logo-width / 2) ($logo-height / 2);

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    width: $logo-width;
    height: $logo-height;
    background-size: $logo-width $logo-height;
  }
}

#navigation{
  border-bottom: none;
  a {
    @extend %menu-item;
    padding: 0.5em 0.75em;
  }
  /* Show which section is currently selected */
  li.selected a{
    @extend %selected-menu-item;
  }

  /* Vertically align the search box */
  #navigation_search{
    input{
      margin-top:0.313em;
      margin-bottom:0.313em;
      height: 1.875em;
      @include ie8 {
        height: 33px;
        font-size: 1.1em;
        padding: 0;
      }
    }
  }

  /* Vertically align the label image for older IE*/
  @include ie8 {
    img {
      margin-top: 0.626em;
    }
  }

  #navigation_search_button{
    background-color: mix($main_menu-search_bg, $main_menu-bg, 50%);
    transition: all 0.3s ease-out;
    color: $main_menu-search_text;
    border-radius: 0;
    font-size: inherit;
    &:focus{
        background-color: $color_ni_lightest_blue;
    }
  }
}

.greeting {
  color: $body-bg;
}
/* Notices, errors */

#notice, #error, .errorExplanation, #request_header_text, #hidden_request, .describe_state_form form, .undescribed_requests, .warning {
  border-top: 10px solid;
  font-size: 1em;
  border-radius: 0;
  margin:1em 0;
  padding: 1.5em;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom:0;
  }

  ul {
    margin: 0;
  }
}

#notice, #request_header_text {
  background-color: $notice-bg;
  border-color: $notice-border;
}

#error, .errorExplanation, #hidden_request {
  background-color: $error-bg;
  border-color: $error-border;

}

.undescribed_requests {
  background-color: $action-bg;
  border-color: $action-border;
}

/* Logged and local options act like submenus */
#logged_in_bar{
  @include respond-min($main_menu-mobile_menu_cutoff) {
    top: 0.75em;
  }

  a {
    @extend %menu-item;
    background-color: transparent;
    font-weight: normal;
    color: $link-color;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }
  #logged_in_links {
    top: 4em;
    a {
      font-weight: normal;
    }
  }
}

#user_locale_switcher {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    background-image: image-url('locale-switcher.png');
    background-repeat: no-repeat;
    background-position: 0.5em 0.5em;
    background-color: $locale-bg;
    border-radius: 0 0 1.25em 1.25em;
    padding: 0 1em 0 2.5em;
    right: 15px;
  }
  a {
    @extend %menu-item;
    font-family: $sans-serif-font-family;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      padding: 0.5em 0.2em;
      background-color: $locale-bg;
      border-radius: 0 0 1.25em 1.25em;
      color: $locale-color;
      &:hover{
          background-color: $locale-bg;
          color: $locale-hover-color;
      }
    }
  }
}


#banner {

  /* Hide the greeting on smaller devices */
  .greeting {
    display: none;
  }

  .banner_site-title {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .rsp_menu_button{
    position: absolute;
    top: 5px; // vertically centre the button in the header
    right: 4px; // 15px for margin minus 9 for background offset
    @extend .image-replacement;
    background-image: image-url('hamburger.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 28px 26px;
    width: 44px;
    height: 38px;
    padding: 0;
    /* Make sure clickable area covers image */
    a {
      width: 100%;
      height: 100%;
    }
  }

  &:target {
    .rsp_menu_button {
      top: 5px;
      right: 4px;
    }
  }
}


/* Footer */
#footer {
  color: $footer-color;
  font-family: $sans-serif-font-family;
  a {
    text-decoration: none;
    color: $footer-link-color;
  }

  ul li {
    text-align: bottom;
  }
}

/* Request page */
div.correspondence {
  background-color: $correspondence-bg;
  box-shadow: 0 2px 2px transparentize($color_ni_charcoal, 0.8);
  border: none;
  border-radius: 5px;
  margin-bottom: 2em;
}

.incoming.correspondence {
  border-top: 8px solid $incoming-correspondence-color;
  a.link_to_this {
    background-color: $incoming-correspondence-color;
  }
}

.outgoing.correspondence {
  border-top: 8px solid $outgoing-correspondence-color;
  a.link_to_this {
    background-color: $outgoing-correspondence-color;
  }
}

.describe_state_form input[type="radio"] + label {
  display:inline;
}

a.link_to_this {
  background-image: image-url('link-icon.png');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
     background-image:image-url('link-icon@2.png');
  }
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#link_box {
  font-family: $font-family;
  border-radius: 0;
  border: 1px solid $heading-color;
  .close-button {
    background-color: $correspondence-bg;
    float: right;
  }
}

.describe_state_form {
  padding: 0;

  form{
    background-color: $action-bg;
    border-color: $action-border;
    h2 {
      margin-top: 0;
    }
    hr {
      border-color: $action-border;
    }
  }
}

.feed_link_sidebar .link_button_green {
  @include button-primary();
}

.report-this-request {
  @include button-secondary();
  color: $color_white !important;
  /* Using !important here as a temporary fix for a bad declaration (a:link)
    in Alaveteli core. When this is fixed it can be removed.
  */
}

/* Status lines and icons */
.icon_waiting_classification,
.icon_waiting_response,
.icon_waiting_clarification,
.icon_requires_admin,
.icon_waiting_response_overdue,
.icon_gone_postal,
.icon_error_message,
.icon_internal_review,
.icon_user_withdrawn {
  color: $status-pending;
}

.icon_attention_requested,
.icon_not_held,
.icon_waiting_response_very_overdue,
.icon_failed,
.icon_rejected {
  color: $status-failure;
}

.icon_successful,
.icon_partially_successful {
  color: $status-success;
}

/* Attachments*/

.view_html_prefix {
  font-family: $font-family;
  background-color: $banner-bg;
  color: transparentize($main_menu-link_text, 0.2);
  @include ie8 {
    color: $main_menu-link_text;
  }
  a {
    color: $main_menu-link_text;
  }
  .view_html_logo, .view_html_description {
    padding-top: 1em;
  }
}

/* User page */
#user_photo_on_profile {
  img, #set_photo {
    margin-top:0.5em;
  }
}

/* Help pages */

.controller_help {
  text-align: justify;
}


dt {
  color: $heading-color;
  font-weight: 700;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    font-size: 2em;
    line-height: 1.1em;
  }
}

#left_column_flip {
  li {
    padding: 0.8em 0;
  }
}

/* Front page */
/* Drop the extract indentation on small screens */
#frontpage_examples {
  .excerpt {
    padding: 0.2em 0 0 0;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      padding: 0 0 0 2em;
    }
  }
  p strong a {
    @include button-secondary;
  }
}

#frontpage-lead-button {
  white-space: nowrap;
}

.latest-requests {
  .button-secondary {
    @include button-secondary;
  }
}

/* Authority page */
.action-bar__follower-count {
  padding: 3px;
  font-size: 1.1rem;
}

.action-bar__follow-button {
  .link_button_green {
    @include button-secondary();
  }
}

.authority__body__sidebar form input[type=submit] {
  @include button-secondary();
}

/* Icons for custom statuses */
.icon_deadline_extended {
  background-image:image-url('status/waiting.png');
  color: $status-pending;
  background-size: 22px 22px;
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image:image-url('status/waiting@2x.png');
  }
}
