<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">¡Bienvenido a<a href="http://www.derechoapreguntar.org">derechoapreguntar.org</h1>
  <p>Derechoapreguntar.com es una página web creada y gestionada por la Fundación Violeta B. de Chamorro. Esta página ayuda a los ciudadanos y ciudadanas y población en general a solicitar información pública a las entidades obligadas a brindar la misma, en el marco de la  Ley de Acceso a la Información Pública (Ley 621 ),  con el fin de facilitar a las personas interesadas,  herramientas que fortalezcan el derecho de acceso a la información y  compartir las respuestas obtenidas con el resto de los ciudadanos y ciudadanas.</p>

  <p>Somos la primera web en Nicaragua y la segunda en Centroamérica que te facilita y ayuda a los ciudadanos y ciudadanas a solicitar y demandar información pública a las Entidades sujetas a la aplicación de la Ley de Acceso a la Información Pública (Ley 621 ) . Haz uso de esta herramienta digital y solicita información pública.  Derechoapreguntar.com te facilita una forma  para hacérsela llegar a la  autoridad competente y te avisamos cuando responda. Todo el proceso es transparente y público para que tú y el resto del mundo puedan seguirlo.</p>

  <p>Esta página ha sido diseñada por la  Fundación Violeta B. de Chamorro  de Nicaragua en conjunto con mySociety y auspiciada por Asdi e  Hivos, en el  marco del Programa Actores de Cambio para facilitar el acceso y promocionar este derecho de acceso a la información. De esta manera podremos ejercer nuestro derecho de demandar, a través de solicitudes de información, la  rendición de cuentas a los gobernantes por el desempeño de sus funciones.</p>

  <p>Además, también facilitamos el trabajo de los funcionarios públicos. Con las respuestas de las solicitudes de información que se presenten a través de la página, quedarán publicadas directamente en la página web, para que cualquier otro interesado en la información pueda acceder a ella. derechoapreguntar.com se basa en experiencias similares como Gran Bretaña, Brasil, Alemania, Chile, España, Guatemala, Uruguay o la Unión Europea.</p>

    Derechoapreguntar.com

    ¿Qué somos?  Facilitadores, proveedores de correos; somos una herramienta para facilitar el ejercicio del derecho de acceso a la información pública.

    ¿Qué no somos? No somos, ni pretendemos ser intermediarios entre las instituciones del Estado y la ciudadanía en general o entre las instituciones del Estado y los usuarios de esta Web.

    ¿Para qué se debe usar esta Web? Para solicitar información pública a las entidades obligadas según la Ley de Acceso a la Información Pública.

    ¿Para qué no se debe usar esta Web? Para solicitar información privada  propia o de otra persona.

    ¿Qué eliminaremos de la Web?: Lenguaje ofensivo, injurioso, calumnioso o discriminatorio en contra de alguna persona natural o jurídica.

  <dl>
    <dt id="purpose">What is WhatDoTheyKnow for? <a href="#purpose">#</a> </dt>
     <dd>To help you find out inside information about what the UK government
     is doing.
     </dd>
 </dl>

 <p><strong>Next</strong>, read about <a href="<%= help_requesting_path %>">making requests</a> --&gt;

 <div id="hash_link_padding"></div>
</div>
