<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">
    ¡Bienvenido a <a href="http://derechoapreguntar.org">derechoapreguntar.org</a>!
  </h1>
  <p>
    <a href="http://derechoapreguntar.org">derechoapreguntar.org</a> es una página web creada y gestionada por la Fundación Violeta B. de Chamorro. Esta página ayuda a los ciudadanos y ciudadanas y población en general a solicitar información pública a las entidades obligadas a brindar la misma, en el marco de la <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">Ley de Acceso a la Información Pública (Ley 621)</a>, con el fin de facilitar a las personas interesadas, herramientas que fortalezcan el derecho de acceso a la información y compartir las respuestas obtenidas con el resto de los ciudadanos y ciudadanas.
  </p>
  <p>
    Somos la primera web en Nicaragua y la segunda en Centroamérica que te facilita y ayuda a los ciudadanos y ciudadanas a solicitar y demandar información pública a las Entidades sujetas a la aplicación de la <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">Ley de Acceso a la Información Pública (Ley 621)</a>. Haz uso de esta herramienta digital y solicita información pública. Derechoapreguntar.org te facilita una forma para hacérsela llegar a la autoridad competente y te avisamos cuando responda. Todo el proceso es transparente y público para que tú y el resto del mundo puedan seguirlo.
  </p>
  <p>
    Esta página ha sido diseñada por la <a href="http://www.violetachamorro.org.ni">Fundación Violeta B. de Chamorro</a> en conjunto con <a href="http://www.mysociety.org">mySociety</a> y auspiciada en su primera etapa por Asdi e &nbsp;Hivos, en el&nbsp; marco del Programa Actores de Cambio y en su segunda etapa por Hivos people unlimited, en el marco del Fondo para la Transparencia y Rendición de Cuentas para América Latina (MAILA), para facilitar  y promocionar el derecho de acceso a la información. De esta manera podremos ejercer nuestro derecho de demandar, a través de solicitudes de información, la rendición de cuentas a los gobernantes por el desempeño de sus funciones.
  </p>
  <p>
    Además, también facilitamos el trabajo de los funcionarios públicos. Con las respuestas de las solicitudes de información que se presenten a través de la página, quedarán publicadas directamente en la página web, para que cualquier otro interesado en la información pueda acceder a ella. <a href="http://derechoapreguntar.org">derechoapreguntar.org</a> se basa en experiencias similares como <a href="https://www.whatdotheyknow.com">Gran Bretaña</a>, <a href="http://www.queremossaber.org.br/">Brasil</a>, <a href="http://fragdenstaat.de">Alemania</a>, <a href="https://www.accesointeligente.org/AccesoInteligente/#home">Chile</a>, <a href="http://www.tuderechoasaber.es/">España</a>, <a href="http://www.guateinformada.org.gt">Guatemala</a>, <a href="http://www.quesabes.uy">Uruguay</a> o <a href="http://www.asktheeu.org">la Unión Europea</a>.
  </p>
  <h2>
    Derechoapreguntar.org
  </h2>
  <ul>
    <li>
      <strong>¿Qué somos?</strong> Facilitadores, proveedores de correos; somos una herramienta para facilitar el ejercicio del derecho de acceso a la información pública.
    </li>
    <li>
      <strong>¿Qué no somos?</strong> No somos, ni pretendemos ser intermediarios entre las instituciones del Estado y la ciudadanía en general o entre las instituciones del Estado y los usuarios de esta Web.
    </li>
    <li>
      <strong>¿Para qué se debe usar esta Web?</strong> Para solicitar información pública a las entidades obligadas según la Ley de Acceso a la Información Pública.
    </li>
    <li>
      <strong>¿Para qué no se debe usar esta Web?</strong> Para solicitar información privada propia o de otra persona.
    </li>
    <li>
      <strong>¿Qué eliminaremos de la Web?</strong> Lenguaje ofensivo, injurioso, calumnioso o discriminatorio en contra de alguna persona natural o jurídica.
    </li>
  </ul>
  <dl>
    <dt id="como">
      ¿Cómo funciona?<a href="#como">#</a>
    </dt>
    <dd>
      <p>
        Lo primero que necesitas es tener la idea clara de la información pública que necesitas saber y en qué institución pública <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver LAIP, Ley 621)</a> podría encontrarse. Después, llena el formulario que encuentras en esta página. A continuación, nosotros enviamos un correo electrónico a la entidad correspondiente, y te mantenemos al corriente de cuándo llega la respuesta. En ocasiones las instituciones públicas piden que la información que se solicita sea más clara o precisa, para ello nos pondremos en contacto contigo. Si la institución no pide esta aclaración, (en un plazo no mayor de tres días hábiles), es obligación de las autoridades correspondientes dar respuesta a las solicitudes que se les presenten, de manera inmediata o dentro de un plazo no mayor de quince días hábiles, contados a partir de la fecha de presentada la solicitud.
      </p>
      <p>
        Es importante que tengas en cuenta que la Ley de Acceso a la Información Pública, Ley No. 621 establece tiempo de prórroga cuando el volumen y extensión de la respuesta así lo justifique. El plazo puede ser prorrogado por 10 días hábiles adicionales si la información requiere más tiempo para reunirse por ser muy voluminosa, o se encuentra lejos de la OAIP o bien si requiere ser analizada por considerarse que puede estar comprendida en una de las excepciones que establece la Ley (información reservada o información privada).
      </p>
      <p>
        La entidad deberá comunicar al solicitante, antes del vencimiento del plazo original de quince días, las razones por las cuales hará uso de la prórroga excepcional de los 10 días.
      </p>
    </dd>
  </dl>
  <dl>
    <dt id="whybother_them">
      ¿Para qué sirve la Información Pública?
    </dt>
    <dd>
      <p>
        La Ley de Acceso a la Información Pública (LAIP) es una herramienta que permite al ciudadano y ciudadana saber cómo y en qué utilizan los recursos públicos sus gobernantes.
      </p>
      <p>
        El derecho de acceso a la información pública es una herramienta clave para el ejercicio y protección de otros derechos humanos fundamentales. Al tener acceso a información producida por el gobierno (sobre planes sociales, prestaciones de servicios públicos, etc.), los ciudadanos pueden conocer acerca de su accionar y, de esa manera, interiorizarse acerca de las políticas que pueden llegar a repercutir en su vida cotidiana, para luego tomar las medidas necesarias al respecto.
      </p>
      <p>
        En una democracia sana, los ciudadanos deben poder saber lo que hacen sus gobiernos.
      </p>
      <p>
        <strong>Para poder participar en la actividad pública:</strong> Para poder votar por nuestros representantes, necesitamos poder tener toda la información sobre quién toma las decisiones y en qué criterios se basan.
      </p>
      <p>
        <strong>Para demandar mayor transparencia y prevenir los actos de corrupción:</strong> El derecho de acceso a la información tiene un efecto preventivo. La posibilidad de poder solicitar cualquier información relacionada con la actividad pública hace que haya menos tentación de cometer actos corruptos, e incluso mejora y hace más eficiente el trabajo de las instituciones públicas.
      </p>
    </dd>
  </dl>
  <dl>
    <dt id="quien">
      ¿Quién puede utilizar <a href="http://derechoapreguntar.org">derechoapreguntar.org</a>?<a href="#quien">#</a>
    </dt>
    <dd>
      <p>
        Cualquier ciudadana o ciudadano puede enviar solicitudes de acceso a la información pública a través de esta página, siempre y cuando esté debidamente registrado y hubiese asumido y aceptado las condiciones de uso.
      </p>
      <p>
        Esta página puede ser especialmente interesante si trabajas en una empresa, en una ONG, si eres periodista, formas parte de un colectivo de ciudadanos o eres miembro de la sociedad civil organizada, eres estudiante o profesor, abogado o empresario, también puedes utilizar esta página. El derecho de acceso a la información pública es una herramienta vital para ejercer tu derecho a demandar rendición de cuentas de las instituciones del Estado. O si tan sólo tienes curiosidad por saber más sobre las entidades  del Estado en Nicaragua.<strong>No esperes más: ¡pregunta ya!</strong>
      </p>
    </dd>
  </dl>
  <dl>
    <dt id="organizaciones">
      Las organizaciones detrás de <a href="http://derechoapreguntar.org">Derechoapreguntar.org</a><a href="#organizaciones">#</a>
    </dt>
    <dd>
      <p>
        derechoapreguntar.org es una web creada y gestionada por la Fundación Violeta B. de Chamorro en conjunto con mySociety, auspiciado en su primera etapa por Asdi e Hivos, en el marco del Programa Actores de Cambio y en su segunda etapa   por  Hivos people unlimited, en el marco del Fondo para la Transparencia y Rendición de Cuentas para América Latina (MAILA).<a href="http://derechoapreguntar.org">Tú también puedes apoyarnos</a>
      </p>
      <h3>
        Fundación Violeta B. de Chamorro
      </h3>
      <p>
        <a href="http://www.violetachamorro.org.ni">Fundación Violeta B. de Chamorro</a> es una organización sin fines de lucro de carácter nacional e internacional, políticamente independiente, que trabaja por la consolidación de la Libertad de Expresión y proyectos de fortalecimiento al liderazgo del periodismo nacional, de la sociedad civil y de las instituciones democráticas, con el apoyo de donantes y alianzas nacionales e internacionales
      </p>
      <h3>
        mySociety
      </h3>
      <p>
        mySociety es una organización británica sin fines de lucro que inventa y populariza herramientas digitales a los ciudadanos para ejercer poder sobre las instituciones y los tomadores de decisiones.
      </p>
      <p>
        mySociety es una organización benéfica del Reino Unido y parte de un movimiento internacional de organizaciones que creen que el Internet puede abrir el proceso democrático y cívico para todos y todas.
      </p>
    </dd>
  </dl>
  <dl>
    <dt id="equipo">
      Equipo del Proyecto Piloto de derechoapreguntar.org<a href="#equipo">#</a>
    </dt>
    <dd>
      <h3>
        Cristiana Chamorro
      </h3>
      <p>
        Cristiana Chamorro Barrios es Periodista Nicaragüense. Fundadora y Directora de la Fundación Violeta Chamorro, organización sin fines de lucro que trabaja por la consolidación de la Libertad de Expresión y proyectos de fortalecimiento al liderazgo de periodistas, de la sociedad civil y de las instituciones democráticas. Desde la Fundación Chamorro, dirige y coordina programas que promueven la búsqueda de la excelencia del periodismo nacional, un sistema de acceso a información pública, el derecho de los ciudadanos a estar informados, el liderazgo de mujeres emprendedoras que aspiran a una mejor calidad de vida, y otras acciones tendientes a la promoción de los derechos humanos y una cultura de Paz. Escribe columnas en la página de opinión de Diario LA PRENSA. Es Vice Presidenta de la Junta Directiva de LA PRENSA, miembro del Consejo Editorial y ex directora de LA PRENSA (1986-1990)
      </p>
      <h3>
        María Lilly Delgado (<a href="https://twitter.com/lillyDelt">@lillyDelt</a>)
      </h3>
      <p>
        María Lilly Delgado es periodista y especialista en comunicación con más de 20 años de experiencia con varios medios de comunicación nicaragüenses e Internacionales como periodista, productora audiovisual, conductora televisiva y corresponsal de noticias independiente. María Lilly Delgado es Stanford Knight Fellow 2013 como parte del programa John S.  Knight Journalism Fellowships 2012-2013 en la Universidad de Stanford. Y es miembro de la décima clase de Fundación CALI (Central America Leadership Iniciative). María Lilly Delgado es fundadora, asesora y colaboradora del Proyecto Piloto del sitio web <a href="http://derechoapreguntar.org">derechoapreguntar.org</a>.
      </p>
      <h3>
        Emilio Ortega (<a href="https://twitter.com/eortegaporras">@eortegaporras</a>)
      </h3>
      <p>
        Emilio Ortega es abogado, con más de 10 años de experiencia en derechos de participación e incidencia ciudadana, acceso a la información pública y transparencia en la gestión pública. Ha promovido la implementación de la Ley de Acceso a la Información Pública (Ley 621), a través de organizaciones de la sociedad civil y agencias de cooperación para las que ha laborado.
      </p>
      <h3>
        Javier Baéz (<a href="https://twitter.com/jbaezni">@jbaezni</a>)
      </h3>
      <p>
        Javier Báez es ingeniero en sistemas con más de 11 años de experiencia en el área de la informática, diseñador y administrador de varios sitios web, facebook y Twitter, consultor de proyectos de la sociedad civil.
      </p>
      <h3>
        Guillermo Medrano (<a href="https://twitter.com/guillermomedr13">@guillermomedr13</a>)
      </h3>
      <p>
        Guillermo José Medrano es especialista en planificación educativa; experiencia en procesos de facilitación y evaluación de los aprendizajes; con 5 años de trabajo en la promoción de la implementación de la Ley de Acceso a la Información Pública y de iniciativas de participación ciudadana en los Gobiernos Municipales. Ha realizado procesos de evaluación y monitoreo de LAIP.
      </p>
      <h3>
        Voluntarios
      </h3>
      <p>
        Para poner en marcha esta web hemos contado con <a href="http://derechoapreguntar.org">el apoyo de varios voluntarios</a> que nos han ayudado a buscar información de las administraciones, organizar eventos, contactar a la prensa... ¡Muchas gracias!
      </p>
    </dd>
  </dl>
  <div id="hash_link_padding"></div>
</div>
