<% @title = "Agradecimientos" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">

<h1 id="credits"><%= @title %> <a href="#credits">#</a></h1>

<dl>
<dd>No podríamos haber hecho esta web sin el apoyo de muchas personas. Agradecemos a:
<ul>
<li>
    A Licenciada Cristiana Chamorro, Directora Ejecutiva Fundación Violeta B. Chamorro por su decisivo apoyo a derechoapreguntar.com
</li>
<li>
    Al equipo de Consultores Independientes de la Fundación Violeta B. Chamorro: María Lilly Delgado, Emilio Ortega, Javier Baéz, Guillermo Medrano.
</li>
<li>
   Al equipo técnico de la Fundación Violeta B. de Chamorro: Emma, Martha Chacón y Marcos Fletes y Claudia Pineda.
</li>
<li>
   Al equipo de <a href="http://mysociety.org">mySociety</a> por toda su colaboración técnica para el diseño y construcción de derechoapreguntar.org.
</li>
<li>
   A todos los voluntarios que han hecho posible esta página. Gracias a Selene Bonilla por su apoyo logístico.
</li>
<li>
    A Ileana Mejía por los diseños gráficos de derechoapreguntar.org.
</li>
<li>
   A María Adilia Serrano por el asesoramiento legal.
</li>
<li>
    A las universidades: Universidad Americana (UAM), Universidad Centroamericana (UCA), Universidad de Ciencias Comerciales (UCC), Universidad American College.  A los decanos, profesores y  estudiantes de estas universidades, por haber prestado interés en la creación de esta Web y facilitar la participación de algunos de sus estudiantes en el evento de validación de derechoapreguntar.org
</li>
<li>
   A Medios de comunicación y Periodistas que participaron en el evento de capacitación y validación de Derechoapreguntar.org
</li>
</ul>
</dd>
</dl>

<div id="hash_link_padding"></div>

</div>
