<% @title = "Tu Privacidad" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="privacidad">
    <%= @title %> <a href="#privacidad">#</a>
  </h1>
  <p>
    El público general solamente puede ver en derechoapreguntar.org, en relación a tu solicitud, lo siguiente:
  </p>
  <strong><ol type="a">
    <li>Nombre de la entidad a quien solicitaste la información.
    </li>
    <li>Nombre y apellidos tuyos.
    </li>
    <li>Descripción clara y precisa de la información solicitada.
    </li>
    <li>Correo electrónico generado por derechoapeguntar.org con el que realizaste la solicitud y señalaste para recibir la información y notificaciones. 
    </li>
  </ol></strong>
  <p>
    En caso de que utilices derechoapreguntar.org para efectuar solicitudes de información pública, te recomendamos que no des ningún dato personal a la institución a la que solicitas información, más allá de lo que te pida el formulario virtual de solicitud que te facilita derechoapreguntar.org.
  </p>
  <p>
  <strong>
    No se necesita justificar a la institución, para qué quieres o necesitas la información que estás solicitando.
 </strong>
</p>
  <p>
    En el caso de que un funcionario necesite hablar contigo por teléfono para aclarar la solicitud, te recomendamos que le mandes tu número directamente, de tu correo personal u otro medio, no a través de esta página web derechoapreguntar.org
  </p>
  <dl>
    <dt id="email_address">
      ¿Quién Puede ver mi dirección de correo electrónico? <a href="#email_address">#</a>
    </dt>
    <dd>
      <p>
        <strong>Tu dirección de correo electrónico NO será revelada:</strong>
      </p>
      <ul>
        <li>En la web de derechoapreguntar.org, salvo que la incluyas en tu solicitud.
        </li>
        <li>A terceros, salvo que estemos obligados por ley o que nos lo pidas específicamente. Los servidores de derechoapreguntar.org se localizan en Estados Unidos y Londres.
        </li>
        <li>A la institución a la que realizas la solicitud. <strong>Ellos solamente verán una dirección de correo del dominio derechoapreguntar.org, generada por la web específicamente para tu solicitud.</strong>
        </li>
      </ul>
      <p>
        <strong>Tu dirección de correo electrónico SÍ será revelada</strong> si envías un mensaje a otro usuario de derechoapreguntar.org. Por eso te lo recordaremos antes de que envíes el mensaje.
      </p>
    </dd>
    <dt id="boletines">
      ¿Usarán mi dirección de email en boletines o lo venderán a terceros? <a href="#boletines">#</a>
    </dt>
    <dd>
      <p>
        ¡No! Nunca proporcionaremos o venderemos tu dirección de correo electrónico a nadie, salvo que estemos obligados por ley o que tú así nos lo pidas.
      </p>
      <p>
        Si te inscribes en derechoapreguntar.org, te mandaremos exclusivamente e-mails relacionados con tu solicitud y con otros asuntos a los que tú nos hayas autorizado específicamente, como el envío de las alertas sobre tus consultas u otras consultas que hayas apoyado, como explicamos en nuestra Política de Privacidad.
      </p>
    </dd>
    <dt id="public_request">
      ¿Porqué aparecen mi nombre y mi solicitud publicados en derechoapreguntar.org? <a href="#public_request">#</a>
    </dt>
    <dd>
      <p>
        Publicamos tu solicitud en internet para que todo el mundo pueda consultar y utilizar la información que has obtenido. No solemos eliminar las solicitudes (<a href="http://www.derechoapreguntar.org">más detalles</a>).
      </p>
      <p>
        Tu nombre se publica porque forma parte de la solicitud. También va a hacerse público el nombre de la entidad que te brinde la información. Recordemos que la Ley de Acceso a la Información Pública de Nicaragua Ley 621, no permite efectuar ante las entidades obligadas, solicitudes de información anónimas.
      </p>
      <p>
        Al usar tu verdadero nombre estás contribuyendo a que la gente te contacte para apoyarte en tu investigación o en demandar el derecho de acceso a la información pública. Derechoapreguntar.org, pretende constituirse como una agrupación virtual de ciudadanos y ciudadanas que ejercen su derecho humano y constitucional de acceso a la información pública.
      </p>
    </dd>
    <dt id="real_name">
      ¿Puedo solicitar información usando un pseudónimo? <a href="#real_name">#</a>
    </dt>
    <dd>
      <p>
        No, la Ley de Acceso a la Información Pública <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ley 621)</a> establece que, en tu solicitud de información debes de poner tu nombre, apellidos, generales de ley, domicilio y tu respectivo documento de identificación o número del mismo. Para ejercer tu derecho de acceso a la información debes hacerlo responsablemente. Es necesario que utilices tu verdadero nombre cuando solicites acceso a la información. Estás haciendo uso de un derecho que constituye la base de una sociedad abierta y democrática. Por eso utilizar tu verdadero nombre no debería ser un problema. De hecho, así contribuyes positivamente a conseguir una comunicación fluida con la administración pública.
      </p>
      <p>
        Te pediremos nombre y apellidos. Si detectamos nombres ridículos o seudónimos demasiado obvios, eliminaremos la solicitud y nos pondremos en contacto contigo para buscar una solución. Te pedimos por favor que no te hagas pasar por otra persona.
      </p>
    </dd>
    <dt id="eliminar">
      ¿Podrán eliminar mi solicitud o eliminar mi nombre? <a href="#eliminar">#</a>
    </dt>
    <dd>
      <p>
        derechoapreguntar.org es un archivo público permanente de solicitudes de acceso a la información realizadas a instituciones Nicaragüenses. Aunque la respuesta a tu consulta ya no te parezca de utilidad, puede resultar de interés para otras personas. Por este motivo en algunos casos no eliminamos las solicitudes, excepto que contengan información privada u otras circunstancias excepcionales.
      </p>
      <p>
          <strong>Nota:</strong> El usuario de esta Web en cualquier momento y por las razones que considere oportunas, podrá solicitar al administrador de derechoapreguntar.org, retirar y/o eliminar de esta Web una o varias solicitudes de información hechas por el mismo usuario, ante cualquier entidad. Puede escribirnos a <a href="mailto:contacto@derechoapreguntar.org">contacto</a>.
    </p>
    <p>
          Pese a este retiro de la Web de las solicitudes hechas por el usuario, el administrador de derechoapreguntar.org no tiene facultades legales ni posibilidades técnicas de retirarla de la entidad que recibió la solicitud correspondiente, ni de detener el curso de la misma en la entidad respectiva. <strong>En estos casos derechoapreguntar.org no se hace responsable de monitorear el curso de la solicitud retirada y/o eliminada de la web a solicitud del usuario.</strong>  
    </p>
    <p>
          El administrador de derechoapreguntar.org podrá retirar de la Web cualquier solicitud de información por razones de fuerza mayor. 
        </p>  
    </dd>
    <dt id="persona">
      ¿Podrán eliminar información privada respecto a mi persona? <a href="#persona">#</a>
    </dt>
    <dd>
      <p>
        derechoapreguntar.org no publica activamente información privada y/o datos personales sensibles. De todos modos, revisamos frecuentemente las peticiones por si se publican de manera accidental y los eliminamos.
      </p>
      <p>
        Si ves en la página alguna información de carácter privado o sensible, relacionada contigo que te gustaría que quitásemos, <a href="mailto:contacto@derechoapreguntar.org">háznoslo saber</a>. Especifica exactamente de qué información se trata y dónde aparece. Aunque la información privada o sensible no sea tuya, si detectas que hay un error, te rogamos que nos lo hagas saber para poder subsanarlo.
      </p>
      <p>
        Pensamos que existe un gran interés público en retener los nombres de los funcionarios o trabajadores públicos. Solo eliminaremos dichos nombres en circunstancias excepcionales, por ejemplo si revelar el nombre y el puesto desempeñado es evidente que puede conllevar un riesgo para la seguridad de la persona. Si eres funcionario y quieres que eliminemos tu nombre con urgencia por las razones mencionadas, tienes que <a href="mailto:contacto@derechoapreguntar.org">enviarnos una solicitud</a> a través del responsable de tu área o entidad respectiva. La solicitud debe de probar que constituye un riesgo que va más allá del interés público, y debe demostrar que se han tomado medidas para ocultar el nombre en la página web de la entidad y otros documentos que puedan ser públicos.
      </p>
      <p>
        Con el resto de las solicitudes llevamos a cabo una prueba de interés público para decidir si la información debería eliminarse de acuerdo con las normativas de protección de datos personales vigentes en Nicaragua y Ley de Acceso a la Información Pública <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ley 621)</a>. Consideramos que la información que publicamos es de interés general y pertenece a todos.
      </p>
    </dd>
    <dt id="full_address">
      Una institución me ha pedido mi número de teléfono y mi dirección!!! <a href="#full_address">#</a>
    </dt>
    <dd>
      <p>
        Si una institución te pide tu número de teléfono para comentar o aclarar tu solicitud, te recomendamos que se lo des directamente a ellos, no a través de esta web. Si no deseas proporcionar tu número, puedes continuar tu consulta a través de e-mail o les puedes pedir el número y concertar una hora para llamar y aclarar tu petición.
      </p>
      <p>
        Basta que incluyas en tu solicitud de información solamente lo que te pide el formato que te proponemos.
      </p>
    </dd>
    <dt id="postal_answer">
      No, necesitan una dirección postal para enviarme su respuesta!<a href="#postal_answer">#</a>
    </dt>
    <dd>
      <p>
        Si una institución solamente posee una copia en papel de la información que tú deseas, ellos podrían enviártela a tu dirección postal, luego que tú se la hubieses facilitado a solicitud de ellos. Si así fuere, es recomendable que se la envíes por otros medios que no sean esta Web.
      </p>
      <p>
        Avísanos cuando obtengas la información de esa manera y entonces podrás subirla al sitio web. Si escaneas el documento, te daremos una dirección de <a href="mailto:contacto@derechoapreguntar.org">e-mail</a> que puedes usar con este propósito.
      </p>
    </dd>
  </dl>
</div>
