<% @title = "Política de privacidad" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="politica_de_privacidad">
    <%= @title %> <a href="#politica_de_privacidad">#</a>
  </h1>


<p>Los datos personales que son proporcionados a través de la activación de la cuenta Derechoapreguntar.com, pasarán a formar parte de una base de datos bajo la titularidad de Fundación Violeta B. Chamorro y serán utilizados para la gestión y administración de la plataforma, consistente en realizar solicitudes de acceso a la información. Su comercialización queda totalmente prohibida. </p>

<p>Para cualquier duda o consulta contacte a Fundación Violeta B. Chamorro en: </p>

<strong><p>Fundación Violeta B. Chamoro</p>

<p>Km 8 Carretera Sur, Plaza San José, Módulo B 5 y 6, Managua, Nicaragua</p>

<p>Teléfono: (505) 652856 - 22650839<br />
E-mail: fundacionvioletachamorro@gmail.com</p>
</strong>

<p>El usuario acepta y consiente expresamente que sus datos de carácter personal, en este caso su nombre y apellidos, sean públicos y aparezcan accesibles a través de la web. En ningún caso la dirección de correo electrónico será accesible por ningún tercero ni se hará pública en la web.</p>

<p>El usuario garantiza que los datos personales facilitados son veraces y se hace responsable de informar sobre cualquier modificación en los mismos. El usuario será el único responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar a los responsables de Derechoapreguntar.com o a cualquier tercero a causa del llenado de los formularios con datos falsos, inexactos, incompletos o no actualizados. En el caso de que deban incluirse datos de carácter personal referentes a personas físicas distintas de la que establece el presente formulario deberá, con carácter previo a su inclusión, informarles de los extremos contenidos en los párrafos anteriores. </p>

<p>Derechoapreguntar.com ha adoptado las medidas necesarias para evitar la alteración, pérdida, tratamiento o acceso no autorizado de los datos personales, habida cuenta en todo momento del estado de la tecnología, no obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.</p>

<p>Esta página web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos ("Google"). Google Analytics utiliza "cookies", que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website Usted consiente el tratamiento de información acerca de Usted por Google en la forma y para los fines arriba indicados.</p>
</div>
