<% @title = "Política de privacidad" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="politica_de_privacidad">
    <%= @title %> <a href="#politica_de_privacidad">#</a>
  </h1>


<p>Los datos personales que son proporcionados voluntariamente por los usuarios que se registren en esta Web,  a fin de la activación de la cuenta Derechoapreguntar.org, pasarán a formar parte de una base de datos bajo la titularidad de la Fundación Violeta B. de Chamorro y serán utilizados para la gestión y administración de la plataforma, consistente en realizar solicitudes de acceso a la información, monitorear y dar a conocer  el resultado de las mismas. Su comercialización queda totalmente prohibida.</p>

<p>Para cualquier duda o consulta contacte a Fundación Violeta B. de Chamorro en: </p>

<strong><p>Fundación Violeta B. Chamorro</p>

<p>Km 8 Carretera Sur, Plaza San José, Módulo B 5 y 6, Managua, Nicaragua</p>

<p>Teléfono: (505) 22652856 - 22650839<br />
E-mail: fundacionvioletachamorro@gmail.com, fundacion@violetachamorro.org.ni</p>
</strong>

<strong><p>El usuario acepta, consiente expresamente y autoriza a derechoapreguntar.org que algunos datos de carácter personal, en este caso particular sus nombres y apellidos, sean públicos y aparezcan accesibles a través de la web. En ningún caso la dirección de correo electrónico personal, generales de ley, domicilio y número de documento de identificación serán accesibles para ningún tercero ni se harán públicos en la web.</p></strong>

<p>El usuario garantiza que los datos personales facilitados en esta Web son veraces y se hace responsable de informar sobre cualquier modificación en los mismos. El usuario será el único responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar a los administradores de derechoapreguntar.org o a cualquier otra persona, a causa del llenado de los formularios con datos falsos, inexactos, inadecuados, incompletos o no actualizados o con cualquier expresión ofensiva, irrespetuosa,  calumniosa,  injuriosa, discriminatoria o ilícita emitida por el mismo usuario en algún espacio de esta Web </p>

<p>Derechoapreguntar.org ha adoptado las medidas necesarias para evitar la alteración, pérdida, tratamiento o acceso no autorizado de los datos personales, habida cuenta en todo momento del estado de la tecnología, no obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son invulnerables.</p>

<p>Esta página web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos ("Google"). Google Analytics utiliza "cookies", que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar  este website Usted consiente el tratamiento de información acerca de Usted por Google en la forma y para los fines arriba indicados, <strong>siempre y cuando ese uso y tratamiento de la información que hubiese proporcionado el usuario, esté relacionado con los fines para los que fue creado derechoapreguntar.org </strong></p>

<p><strong>Nota:</strong> El usuario de esta Web en cualquier momento y por las razones que considere oportunas, podrá solicitar al administrador de derechoapreguntar.org, retirar y/o eliminar de esta Web una o varias solicitudes de información hechas por el mismo usuario, ante cualquier entidad. Puede escribirnos a <a href="mailto:contacto@derechoapreguntar.org">contacto</a>.</p>

<p>Pese a este retiro de la Web de las solicitudes hechas por el usuario, el administrador de derechoapreguntar.org no tiene facultades legales ni posibilidades técnicas de retirarla de la entidad que recibió la solicitud correspondiente, ni de detener el curso de la misma en la entidad respectiva <strong>En estos casos derechoapreguntar.org no se hace responsable de monitorear el curso de la solicitud retirada y/o eliminada de la web a solicitud del usuario.</strong> </p>

<p>El administrador de derechoapreguntar.org podrá retirar de la Web cualquier solicitud de información por razones de fuerza mayor. </p>
</div>
