<% @title = "Guía para Solicitantes" %>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="making_requests">
    <%= @title %> <a href="#making_requests">#</a>
  </h1>
  <p>
    En esta sección te explicamos cómo solicitar información pública a las instituciones públicas nicaragüenses a través de derechoapreguntar.org. Léela también para aprender algunos consejos sobre cómo realizar peticiones efectivas en base a la <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2"><strong>Ley de Acceso a la Información Pública, Ley 621.</strong></a>
  </p>
  <ul class="no_bullets">
    <li>
      <a href="#solicitar">¿Cómo solicitar información Pública?</a>
    </li>
    <li>
      <a href="#localizar">Localizar la Institución Pública Adecuada</a>
    </li>
    <li>
      <a href="#idiomas">Idiomas</a>
    </li>
    <li>
      <a href="#focused">Consejos sobre las solicitudes</a>
    </li>
    <li>
      <a href="#respuestas">Respuestas y Recursos</a>
    </li>
    <li>
      <a href="#moderation">Moderación de las Solicitudes</a>
    </li>
    <li>
      <a href="#especiales">Disposiciones Especiales para la Costa Atlántica en Nicaragua</a>
    </li>
  </ul>
  <dl>
    <dt id="solicitar">
      Cómo solicitar información Pública? <a href="#solicitar">#</a>
    </dt>
    <dd>
      <h2>
        ¿Qué es el derecho de acceso a la Información Pública?
      </h2>
      <p>
        <strong>Es un derecho humano fundamental de toda persona</strong>, reconocido en los tratados internacionales de Derechos Humanos como el Pacto Internacional de Derechos Civiles y Políticos y la Convención Interamericana sobre Derechos Humanos; al igual que en otros instrumentos internacionales tales como la Convención de las Naciones Unidas Contra la Corrupción y la Convención Interamericana Contra la Corrupción, ratificados por Nicaragua.
      </p>
      <p>
        <strong>Es un derecho constitucional consagrado en el artículo 66 Cn</strong>:
      </p>
      <p>
        “Los nicaragüenses tienen derecho a la información veraz. Este derecho comprende la libertad de buscar, recibir y difundir informaciones e ideas, ya sea de manera oral, por escrito, gráficamente o por cualquier otro procedimiento de su elección.”
      </p>
      <p>
        <strong>Es un derecho que hace posible el ejercicio de otros derechos, tales como:</strong>
      </p>
      <ul>
        <li>
          <i>El derecho de petición</i> mediante el cual, los ciudadanos tienen derecho de hacer peticiones, denunciar anomalías y hacer críticas constructivas a cualquier autoridad y a que se les dé una respuesta en los plazos establecidos por la Ley <a href="http://www.ineter.gob.ni/constitucion%20politica%20de%20nicaragua%20y%20sus%20reformas.pdf">(arto. 52 Cn).</a>
        </li>
        <li>Hace efectiva la <i>rendición de cuentas</i> de los gobernantes, quienes tienen el deber de responder ante el pueblo por el correcto desempeño de sus funciones y de informarle de su trabajo <a href="http://www.ineter.gob.ni/constitucion%20politica%20de%20nicaragua%20y%20sus%20reformas.pdf">(arto. 131 Cn)</a>.
        </li>
        <li>El derecho de <i>participación de los ciudadanos</i> de manera efectiva y directamente, en igualdad de condiciones en los asuntos públicos nacionales y la gestión local <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/F78CA467F5C96D0306257257005FBADC?OpenDocument">(arto. 4 de la Ley de Participación Ciudadana)</a>.
        </li>
      </ul>
      <p>
        Recuerda que todos tenemos derecho a solicitar y recibir información completa, adecuada y oportuna de parte de las instituciones públicas, sin discriminación alguna.
      </p>
      <h2>
        ¿Para qué sirve la Información Pública?
      </h2>
      <p>
        La Ley de Acceso a la Información Pública (LAIP) es una herramienta que permite al ciudadano y ciudadana saber cómo y en qué utilizan los recursos públicos sus gobernantes.
      </p>
      <p>
        El derecho de acceso a la información pública es una herramienta clave para el ejercicio y protección de otros derechos humanos fundamentales. Al tener acceso a información producida por el gobierno (sobre planes sociales, prestaciones de servicios públicos, etc.), los ciudadanos pueden conocer acerca de su accionar y, de esa manera, interiorizarse acerca de las políticas que pueden llegar a repercutir en su vida cotidiana, para luego tomar las medidas necesarias al respecto.
      </p>
      <p>
        En una democracia sana, los ciudadanos deben poder saber lo que hacen sus gobiernos.
      </p>
      <p>
        <strong>Para poder participar en la actividad pública:</strong> Para poder votar por nuestros representantes, necesitamos poder tener toda la información sobre quién toma las decisiones y en qué criterios se basan.
      </p>
      <p>
        <strong>Para demandar mayor transparencia y prevenir los actos de corrupción:</strong> El derecho de acceso a la información tiene un efecto preventivo. La posibilidad de poder solicitar cualquier información relacionada con la actividad pública hace que haya menos tentación de cometer actos corruptos, e incluso mejora y hace más eficiente el trabajo de las instituciones públicas.
      </p>
      <h2>
        ¿Quiénes tienen derecho a solicitar y recibir información?
      </h2>
      <p>
        Toda persona, sin discriminación alguna, tiene derecho a solicitar y recibir información en forma completa, adecuada y oportuna. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(arto. 3 de la LAIP)</a>.
      </p>
      <h2>
        ¿Quiénes están obligados a dar información?
      </h2>
      <p>
        <strong>Las entidades e instituciones públicas:</strong> Los poderes del Estado (Legislativo, Ejecutivo, Judicial y Electoral) con sus dependencias, organismos adscritos o independientes, Entes Autónomos y Gubernamentales, incluidas sus empresas; los Gobiernos Municipales y los Gobiernos Regionales Autónomos de la Costa Atlántica con sus correspondientes dependencias y empresas y las entidades autónomas establecidas en la Constitución Política de la República de Nicaragua.
      </p>
      <p>
        Las sociedades mixtas y las subvencionadas por el Estado.
      </p>
      <p>
        Las entidades mixtas o privadas que administren o reciban recursos o beneficios públicos o sean prestadoras de servicios públicos.
      </p>
      <p>
        Seguimos construyendo derechoapreguntar.org, por lo que puede ocurrir que aún no tengamos algunos contactos o nos falte alguna institución. En este caso, por favor, avísanos e intentaremos encontrarla lo antes posible. Por otra parte, si puedes darnos la información sería estupendo. Así podríamos incluirla rápidamente en la web y otras personas se beneficiarán de tu aporte.
      </p>
      <p>
        <i><a href="/body/list/all">Haz click aquí para ver la lista completa de instituciones</a>.</i>
      </p>
      <h2>
        ¿Qué tipo de información se puede soliacitar?
      </h2>
      <p>
        Toda la información que posean las entidades obligadas es de carácter público y de libre acceso a la población, salvo la Información Pública Reservada y la Información Privada. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver Arto. 20 LAIP)</a>.
      </p>
      <h2>
        Información que no se puede revelar.
      </h2>
      <p>
        <strong>Información Pública Reservada:</strong> Es aquella que la autoridad reserva temporalmente, cuando se trata de:
      </p>
      <ul>
        <li>a. Información cuya divulgación ponga en riesgo:
        </li>
        <li style="list-style: none">
          <ul>
            <li>La seguridad y defensa de la soberanía nacional.
            </li>
            <li>Las relaciones internacionales y los litigios ante tribunales internacionales o la estrategia de negociación de acuerdos comerciales o convenios de integración.
            </li>
            <li>Las actividades de prevención o persecución de los delitos y del crimen organizado.
            </li>
          </ul>
        </li>
        <li>b. Información bancaria, secretos comerciales, industriales, científicos o técnicos, intelectuales, propiedad de terceros o del Estado.
        </li>
        <li>c. Proyectos de sentencias, resoluciones y acuerdos de un órgano unipersonal o colegiado en proceso de decisión. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver Arto. del 15 al 18 LAIP)</a>.
        </li>
      </ul>
      <h3>
        Ejemplos:
      </h3>
      <ul>
        <li>No hay acceso a información sobre la estrategia que sigue Nicaragua en los conflictos limítrofes con otros países.
        </li>
        <li>No hay acceso a información sobre dónde se encuentran resguardadas las armas con que cuenta el Ejército de Nicaragua para la defensa de la nación.
        </li>
        <li>No hay acceso a información sobre las estrategias que va a usar la Policía Nacional para la captura de un delincuente o una banda de delincuentes.
        </li>
        <li>No hay acceso a la información sobre cuentas bancarias de las personas ni de las empresas.
        </li>
      </ul>
      <p>
        Al catalogar la información como reservada, la autoridad deberá probar:
      </p>
      <ol>
        <li>Que la información se encuentra prevista en alguna de las excepciones de la Ley;
        </li>
        <li>Que la liberación de la información puede amenazar el interés público protegido por la Ley;
        </li>
        <li>Que el daño que puede producirse con la liberación de la información es mayor que el interés público de conocer la información de relevancia.
        </li>
      </ol>
      <p>
        La información podrá clasificarse como reservada hasta por un período de 10 años, que podrá ser prorrogado por un período adicional de 5 años si se mantienen las causas que dieron origen a la reserva. Vencido ese plazo, la información es de libre acceso público.
      </p>
      <p>
        <strong>Información Privada:</strong> Está compuesta por datos personales referidos a la vida privada o de la familia, tales como salud, raza, preferencia política o religiosa, situación económica, social o familiar o a su honra y reputación. Esta información sólo puede ser divulgada con el consentimiento de la persona.
      </p>
      <h3>
        Ejemplo:
      </h3>
      <p>
        No hay acceso al expediente médico de otra persona ni de sus familiares, ni puedo divulgar ninguna información contenida en ellos.
      </p>
      <p>
        <strong>El Habeas Data</strong> garantiza la protección de los datos privados y el acceso de toda persona a cualquier información que pueda tener cualquier entidad pública sobre ella, así como el derecho a saber por qué y con qué finalidad tiene esa información.
      </p>
    </dd>
    <dt id="localizar">
      Localizar la Institución Pública Adecuada <a href="#localizar">#</a>
    </dt>
    <dd>
      <h2>
        ¿Qué pasa si no sé a qué entidad tengo que dirigirme?
      </h2>
      <p>
        Si tienes una pregunta pero no estás seguro de la entidad pública a la que tienes que dirigirte para solicitar la información que necesitas, prueba lo siguiente:
      </p>
      <ul>
        <li>Consulta o busca en derechoapreguntar.org solicitudes similares a la tuya.
        </li>
        <li>Cuando hayas encontrado la entidad que, en tu opinión, posee la información deseada, usa el enlace de la “página principal” para consultar su sitio web.
        </li>
        <li>En el caso de que no hayas acudido a la entidad correcta, puedes preguntarle dónde deberías enviar tu solicitud. Si lo saben, deberían informarte de ello.
        </li>
        <li>Si todavía tienes dudas, por favor <a href="mailto:contacto@derechoapreguntar.org"><strong>contáctate con nosotros</strong></a> para que podamos ayudarte.
        </li>
      </ul>
    </dd>
    <dt id="idiomas">
      Idiomas <a href="#idiomas">#</a>
    </dt>
    <dd>
      <h2>
        ¿Qué idiomas puedo usar?
      </h2>
      <p>
        El español es el idioma oficial del Estado. Las lenguas de las comunidades de la Costa Caribe de Nicaragua también tendrán uso oficial en los casos que establezca la Ley. <a href="http://www.ineter.gob.ni/constitucion%20politica%20de%20nicaragua%20y%20sus%20reformas.pdf">(Arto. 11 Cn)</a>
      </p>
      <p>
        <strong>Principio de la Multi-etnicidad:</strong> El pueblo de Nicaragua es de naturaleza multi-étnica y por lo tanto la información pública deberá proveérsele también en las distintas lenguas existentes en la Costa Atlántica de nuestro país. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Arto. 3 inco. 3 LAIP)</a>
      </p>
      <p>
        Las Instituciones del Estado de Nicaragua, Gobiernos Regionales y Gobiernos Municipales, así como instituciones privadas reguladas por esta Ley, deben poner a disposición, de manera oportuna y completa, a los pueblos indígenas y comunidades afro-descendientes, toda información, diagnósticos, estudios, prospecciones y/o información pública de otra naturaleza, para contribuir al proceso de su desarrollo y bienestar socioeconómico, en base al conocimiento de su propia realidad. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Arto. 25 LAIP)</a>
      </p>
    </dd>
    <dt id="focused">
      Consejos sobre las solicitudes <a href="#focused">#</a>
    </dt>
    <dd>
      <h2>
        ¿Qué debe de contener una solicitud de acceso a la información pública?
      </h2>
      <p>
        Por favor, incluye en tu solicitud la información necesaria para identificar fácilmente la información que estás pidiendo.
      </p>
      <p>
        Los mensajes cortos y concisos hacen que sea más fácil para los servidores públicos identificar la información que pides, lo que significa que recibirás una respuesta más rápidamente.
      </p>
      <p>
        Además, una petición bien formulada da menos razones a los servidores públicos para rechazarla por considerarla vaga o poco precisa. Sin embargo, no te preocupes por hacerla perfecta: en principio, en caso de que tu solicitud no sea clara, la institución a la que la envíes debe ponerse en contacto contigo para aclararla.
      </p>
      <p>
        Por favor, no incluyas en tu solicitud:
      </p>
      <ul>
        <li>Argumentos basados en un tema o causa de tipo personal;
        </li>
        <li>Declaraciones que puedan difamar o insultar a terceras personas;
        </li>
        <li>Lenguaje ofensivo y discriminatorio.
        </li>
      </ul>
      <p>
        En caso contrario, nos veremos obligados a eliminar de este sitio web tu petición. Si fuera así, te lo haríamos saber y estaríamos siempre dispuestos a discutir caso por caso.
      </p>
      <p>
        <strong>Contenido de una solicitud de información :</strong>
      </p>
      <ol type="a">
        <li>Nombre de la autoridad (entidad) a quien se solicita la información.
        </li>
        <li>Nombre, apellidos, generales de Ley y domicilio del solicitante.
        </li>
        <li>Cédula de identidad o cualquier otro tipo de identificación <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver Arto. 27 inco. c LAIP)</a>
        </li>
        <li>Información solicitada.
        </li>
        <li>
            Dirección electrónica para notificaciones y entrega de información:
        </li>
      </ol>
      <p>
        Recuerda que no es necesario decir por qué ni para qué estás solicitando información.
      </p>
      <p>
        Luego de hacerse la solicitud de información, la entidad obligada debe de registrar la misma. En el caso de las solicitudes por la vía electrónica, la entidad deberá remitir al solicitante, por este mismo medio, el correspondiente acuse de recibo electrónico en el que conste la fecha de recepción de la solicitud. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/fb812bd5a06244ba062568a30051ce81/7f39c16b8858d606062574020077d8d3?OpenDocument">(Arto. 73 Reglamento de la LAIP)</a>
      </p>
      <p>
        En los casos que la solicitud no sea clara o no contenga los datos antes indicados, así como cuando la solicitud sea presentada ante una oficina que no es competente para entregar la información, o que no la tenga por no ser de su ámbito, la entidad deberá hacérselo saber al solicitante en un plazo no mayor de 3 días hábiles después de recibida la solicitud.
      </p>
      <p>
        Las Oficinas de Acceso a la Información Pública (OAIP), llevarán registro de las solicitudes de información recepcionadas y de las respuestas brindadas en cada caso. Dicho registro se considerará información pública. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(arto. 6 LAIP)</a>
      </p>
      <h2>
        ¿Puedo pedir información sobre mi mismo?
      </h2>
      <p>
        No utilices derechoapreguntar.org para acceder a tu propia información personal.
      </p>
      <p>
        Si quieres información sobre ti mismo o emprender acciones relacionadas con la protección de la misma, utiliza preferiblemente las disposiciones establecidas en la <a href="http://legislacion.asamblea.gob.ni/normaweb.nsf/9e314815a08d4a6206257265005d21f9/e5d37e9b4827fc06062579ed0076ce1d?OpenDocument">Ley de Protección de Datos Personales</a> (Ley No. 787, artos 16, 17 y 18, 47-52) y <a href="http://www.poderjudicial.gob.ni/pjupload/scons1/pdf/texto.pdf">Ley de Amparo</a> (Ley No. 49, artos del 87 al 97) .
      </p>
      <p>
        La Ley de Acceso a la Información Pública, define como <strong>Habeas Data</strong>: La garantía de la tutela de datos personales privados asentados en archivos, registros, bancos de datos u otros medios técnicos, sean éstos públicos o privados, cuya publicidad constituya una invasión a la privacidad personal familiar, que tenga relevancia con respecto a datos sensibles de las personas, su vida íntima, incluyendo sus asuntos familiares, que se encuentren en poder de las entidades especificadas en el Arto. 1 <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(LAIP).</a>
      </p>
      <p>
        Se entiende por Datos Sensibles, los datos personales que revelan origen racial y étnico, opiniones políticas, convicciones religiosas, filosóficas o morales, afiliaciones políticas, sindicales e información referente a la salud física y psicológica o a la vida íntima de las personas, en cualquier formato en el que se generen o almacenen.
      </p>
      <p>
        De igual manera, el Habeas Data garantiza el acceso de toda persona a la información que puede tener cualquier entidad pública sobre ella, así como el derecho a saber por qué y con qué finalidad tienen esa información. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Arto. 4 inco. b, Ley de Acceso a la Información Pública LAIP)</a>
      </p>
      <h2>
        ¿Puedo enviar la misma solicitud a distintas entidades?
      </h2>
      <p>
        Puedes pedir la misma información a más de una institución, aunque sería mejor empezar por la institución que tenga más posibilidades de tener la información que necesitas según las competencias de la institución respectiva.
      </p>
      <p>
        Si la solicitud fue presentada ante una oficina que no es competente para entregar la información o que no la tenga por no ser de su ámbito, esta oficina receptora deberá comunicarlo, y orientar debidamente al solicitante en el término de tres días hábiles después de recibida la solicitud.
      </p>
      <p>
        Actualmente no existe un sistema automático para enviar las peticiones al resto de autoridades, tendrás que copiarlo y pegarlo a mano.
      </p>
    </dd>
    <dt id="respuestas">
      Respuestas y Recursos <a href="#respuestas">#</a>
    </dt>
    <dd>
      <h2>
        ¿Tendré que pagar por solicitar información?
      </h2>
      <p>
        La consulta y el acceso a la información pública que realicen las personas será gratuito. La reproducción de la información habilitará a la entidad pública a realizar el cobro de un monto de recuperación razonable que no podrá ser superior a:
      </p>
      <ol type="a">
        <li>El costo de los materiales utilizados en la reproducción de la información.
        </li>
        <li>El costo de envío (si fuese el caso). <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Arto. 31 LAIP)</a>
        </li>
      </ol>
      <h2 id="quickly_response">
        Plazos para la entrega de la Información
      </h2>
      <p>
        Las autoridades tienen la obligación de dar respuesta a las solicitudes de información de manera inmediata o dentro de un plazo máximo de 15 días hábiles contados a partir de la fecha de presentación de la solicitud.
      </p>
      <p>
        Este plazo puede ser prorrogado por 10 días hábiles adicionales si la información requiere más tiempo para reunirse por ser muy voluminosa, o se encuentra lejos de la OAIP o bien si requiere ser analizada por considerarse que puede estar comprendida en una de las excepciones que establece la Ley.
      </p>
      <p>
        La entidad deberá comunicar al solicitante, antes del vencimiento del plazo original de quince días, las razones por las cuales hará uso de la prórroga excepcional de los 10 días.
      </p>
      <h2>
        ¿Puedo reutilizar la información recibida?
      </h2>
      <p>
        Según la <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">LAIP</a>, es información pública (salvo excepciones legalmente establecidas), la que produce, obtiene, clasifica y almacena la administración pública en el ejercicio de sus atribuciones y funciones, así como aquella que esté en posesión de entidades privadas en lo que se refiere a los recursos públicos, beneficios fiscales u otros beneficios, concesiones o ventajas.
      </p>
      <p>
        Si la entidad te suministró por las vías legales la información solicitada, se entiende que la misma no ha sido clasificada como información reservada, ni tampoco es información privada (salvo sea evidente), por consiguiente la puedes utilizar para los fines que estimes conveniente.
      </p>
      <p>
        En caso de dudas puedes ponerte en <a href="mailto:contacto@derechoapreguntar.org">contacto</a> con nosotros.
      </p>
      <p>
        “La autoridad, funcionario o empleado público que revele o divulgue informaciones o documentos declarados como información pública reservada o información privada conforme a la ley de la materia, será penado con tres a cinco años de prisión e inhabilitación para ejercer empleo o cargo público por el mismo período. Si el autor tiene a su cargo la custodia de la información o documento, la pena a imponer será de cuatro a ocho años de prisión e inhabilitación para ejercer empleo o cargo público por el mismo período.
      </p>
      <p>
        El particular que aprovechándose de la información pública reservada o de la información privada revelada por la autoridad, funcionario o empleado público en las condiciones señaladas en los párrafos anteriores y obtenga lucro o beneficio para sí o para un tercero, será sancionado con pena de tres a cinco años de prisión <strong>( Arto. 441 Código Penal Revelación, divulgación y aprovechamiento de información)</strong>
      </p>
      <h2>
        ¿Qué pasa si no recibo respuesta?
      </h2>
      <p>
        La solicitud de información se considera resuelta negativamente, cuando exista respuesta expresa en ese sentido. Toda denegatoria de acceso a información pública deberá estar fundamentada legalmente.
      </p>
      <p>
        La institución queda obligada a proporcionarte la información en el plazo de 15 días. Este plazo puede ser prorrogado por 10 días hábiles adicionales si la información requiere más tiempo para reunirse por ser muy voluminosa, o se encuentra lejos de la OAIP o bien si requiere ser analizada por considerarse que puede estar comprendida en una de las excepciones que establece la Ley.
      </p>
      <p>
        La entidad deberá comunicar al solicitante, antes del vencimiento del plazo original de quince días, las razones por las cuales hará uso de la prórroga excepcional de los 10 días.
      </p>
      <p>
        No obstante, si la institución no responde, se está frente a un “silencio administrativo”, por lo que se podrá recurrir de apelación para que el funcionario competente ordene la entrega de la información. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver Arto. 37 LAIP)</a>
      </p>
      <p>
        En caso de denegatoria a la solicitud de acceso a la información deberá ser notificada al interesado a más tardar dentro del tercer día de haber sido dictada, debiéndose señalar las causas legales en las que se fundamenta la denegatoria. La cédula contendrá íntegramente la resolución.
      </p>
      <h2>
        ¿Qué pasa si recibo una respuesta que no me satisface?
      </h2>
      <p>
        Podrían haber ciertos casos en los que puedes estar insatisfecho con la respuesta a tu solicitud de información, nosotros te mostramos los más frecuentes:
      </p>
      <ol type="a">
        <li>Sólo has recibido parte de la información que solicitaste y no existe una resolución de confidencialidad o reserva para las partes que no fueron entregadas.
        </li>
        <li>Te han dicho que la información “no está en poder” de la institución al que enviaste tu solicitud de información pública.
        </li>
        <li>Te han denegado el derecho de acceso a la información o a los documentos que has solicitado, sin fundamentos legales.
        </li>
        <li>No has recibido ninguna respuesta (“silencio administrativo”).
        </li>
      </ol>
      <p>
        En estos casos puedes utilizar los recursos legales planteados en esta web: <a href="#recursos">Los Recursos en Nicaragua.</a> Tendrás la posibilidad de categorizar tu respuesta según una lista de categorías. Si no sabes cómo hacerlo consúltanos.
      </p>
      <h2>
        Categoría de las Respuestas
      </h2>
      <p>
        Las respuestas de las administraciones pueden ser muy diversas y según lo que nos contesten deberemos reaccionar de una u otra manera.
        Tendrás la posibilidad de categorizar tu respuesta según una lista de categorías. Si no sabes cómo hacerlo consúltanos.
      </p>
      <ul>
        <li>
          <strong>Información recibida:</strong> La institución ha contestado a tiempo y con la información solicitada.
        </li>
        <li>
          <strong>Información recibida parcialmente:</strong> La institución ha contestado a tiempo pero no con toda la información solicitada porque considera una parte de esta información no debe ser pública.
        </li>
        <li>
          <strong>No tiene la información:</strong> La institución contesta alegando que no tienen la información.
        </li>
        <li>
          <strong>Información incompleta:</strong> La institución ha contestado a tiempo pero no incluye toda la información solicitada.
        </li>
        <li>
          <strong>Información inadecuada:</strong> La respuesta de la institución no corresponde a la información solicitada.
        </li>
        <li>
          <strong>Silencio:</strong> Transcurrido el tiempo que tiene para contestar, la institución no ha contestado.
        </li>
        <li>
          <strong>Esperando respuesta.</strong>
        </li>
        <li>
          <strong>Aclaración de Solicitud:</strong> La entidad me ha pedido que aclare mi solicitud.
        </li>
        <li>
          <strong>Información denegada:</strong> la institución ha contestado denegando la información.
        </li>
        <li>
          <strong>Requiere revisión del administrador:</strong> Marca esta casilla si quieres que administrador de <i>derechoapreguntar.org</i> te revise la pregunta o la respuesta de esta solicitud.
        </li>
      </ul>
      <p>
        En los casos en los que no quedes satisfecho por falta respuesta, por ser la misma incompleta o inadecuada, recomendamos antes de plantear un recurso, dirigirse de nuevo a la institución para intentar recibir la información solicitada.
      </p>
      <h2>
        ¿Cuáles son las causas legales por las que me pueden denegar la información que he solicitado?
      </h2>
      <p>
        Cuando la información solicitada sea información pública <strong>reservada</strong> o información <strong>privada</strong>.
      </p>
      <p>
        <strong>Información Pública Reservada:</strong> Es aquella que la autoridad reserva temporalmente, cuando se trata de:
      </p>
      <ol type="a">
        <li>Información cuya divulgación ponga en riesgo:
        </li>
        <li style="list-style: none">
          <ul>
            <li>La seguridad y defensa de la soberanía nacional.
            </li>
            <li>Las relaciones internacionales y los litigios ante tribunales internacionales o la estrategia de negociación de acuerdos comerciales o convenios de integración.
            </li>
            <li>Las actividades de prevención o persecución de los delitos y del crimen organizado.
            </li>
          </ul>
        </li>
        <li>Información bancaria, secretos comerciales, industriales, científicos o técnicos, intelectuales, propiedad de terceros o del Estado.
        </li>
        <li>Proyectos de sentencias, resoluciones y acuerdos de un órgano unipersonal o colegiado en proceso de decisión.
        </li>
      </ol>
      <p>
        Al catalogar la información como reservada, la autoridad deberá probar:
      </p>
      <ol>
        <li>Que la información se encuentra prevista en alguna de las excepciones de la Ley;
        </li>
        <li>Que la liberación de la información puede amenazar el interés público protegido por la Ley;
        </li>
        <li>Que el daño que puede producirse con la liberación de la información es mayor que el interés público de conocer la información de relevancia.
        </li>
      </ol>
      <p>
        La información podrá clasificarse como reservada hasta por un período de 10 años, que podrá ser prorrogado por un período adicional de 5 años, si se mantienen las causas que dieron origen a la reserva. Vencido ese plazo, la información es de libre acceso público.
      </p>
      <p>
        <strong>Información Privada:</strong> Está compuesta por datos personales referidos a la vida privada o de la familia, tales como salud, raza, preferencia política o religiosa, situación económica, social o familiar o a su honra y reputación. Esta información sólo puede ser divulgada con el consentimiento de la persona.
      </p>
      <p>
        <strong>El Habeas Data</strong> garantiza la protección de los datos privados y el acceso de toda persona a cualquier información que pueda tener cualquier entidad pública sobre ella, así como el derecho a saber por qué y con qué finalidad tiene esa información. ( Ver Punto 6)
      </p>
      <h2 id="recursos">
        Los recursos en Nicaragua <a href="#recursos">#</a>
      </h2>
      <p>
        En caso que la entidad niegue el acceso a la información, entregue información incompleta o no conteste dentro del término establecido por la LAIP, la persona solicitante podrá (según la Ley de Acceso a la Información Pública y su Reglamento):
      </p>
      <ol>
        <li>
          <p>Apelar por escrito o por vía electrónica ante la Coordinación de Acceso a la Información Pública que corresponda, dentro del término de 6 días de notificada la resolución. Esta instancia deberá resolver la apelación en un término de 30 días, agotándose con ella la vía administrativa. Si el escrito de apelación está incompleto, la Coordinación de Acceso a la Información Pública correspondiente deberá completar dichas omisiones. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver artículos 37 y 38 de la Ley de Acceso a la Información Pública)</a></p>
          <p><a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/fb812bd5a06244ba062568a30051ce81/7f39c16b8858d606062574020077d8d3?opendocument">Ver artículos 88, 89 y 95 del Reglamento de la Ley de Acceso a la Información Pública.</a></p>
          <p><strong>Nota:</strong> se debe de tener presente que no contamos con información oficial sobre la creación y/o existencia de la Coordinación de Acceso a la Información Pública  en los Poderes del Estado, Gobiernos Regionales Autónomos de la Costa Atlántica y Gobiernos Municipales, cuya función, (según el artículo 13 de la Ley de Acceso a la Información Pública), es velar en el ámbito de su competencia, por el cumplimiento de la presente Ley y constituirse como segunda instancia para conocer y resolver los recursos de apelación que se interpongan contra las resoluciones denegatorias a las solicitudes de acceso a la información pública. Pero eso no te impide seguir adelante demandando una respuesta a tu solicitud; puedes hacer lo siguiente:</p>
        </li>
        <li>
          <p>Recurrir directamente a la Corte Suprema de Justicia ante la Sala de lo Contencioso Administrativo. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">( Arto. 38 y 39 LAIP)</a></p>
        </li>
      </ol>
    </dd>
    <dt id="moderation">
      Moderación de las Solicitudes <a href="#moderation">#</a>
    </dt>
    <dd>
      <h2>
        ¿Cómo se moderaran las solicitudes y los comentarios?
      </h2>
      <p>
        Animamos a todos y todas a realizar solicitudes y ofrecemos la posibilidad de que cualquier persona que esté registrada inserte comentarios en tus consultas.
      </p>
      <p>
        Nuestro equipo consulta los contenidos con regularidad y nos reservamos el derecho de eliminar declaraciones poco apropiadas, como las de naturaleza ofensiva, discriminatorias o potencialmente difamatoria. Si elimináramos alguno de tus comentarios, te lo haríamos saber para que podamos aclararlo y buscar una solución.
      </p>
      <p>
        Del mismo modo, tú puedes denunciar o informarnos contenidos inadecuados si los encuentras. Solo tienes que categorizar la solicitud como “Requiere revisión del administrador” y en seguida miraremos la solicitud, también puedes ponerte en contacto con nosotros e informarnos al respecto.
      </p>
      <h3>
        Soy Periodista o investigador. ¿Es posible mantener la confidencialidad de mi solicitud hasta la publicación de mi artículo?
      </h3>
      <p>
        <i>derechoapreguntar.org</i> está diseñado para realizar solicitudes públicas. Todas las respuestas que recibimos se publican automáticamente en la web, para que todo el mundo las pueda consultar.
      </p>
      <p>
        Si eres un periodista, una ONG, investigador o simplemente deseas mantener el carácter confidencial de tu consulta hasta que hayas escrito tu artículo o por otras razones, tienes que enviar la solicitud de acceso directamente a la institución que creas conveniente, pero no a través de este sitio web.
      </p>
      <h3>
        He realizado solicitudes de las que he conseguido respuesta, ¿puedo compartirla en este sitio?
      </h3>
      <p>
        Lamentamos decirte que no es posible. <i>derechoapreguntar.org</i> archiva las solicitudes realizadas a través del sitio web pero no pretende ser un archivo de todas las solicitudes de información. No se permite cargar otras solicitudes en esta página, puesto que no podemos verificar si las respuestas proceden efectivamente de una institución pública.
      </p>
      <p>
        Si deseas hacer pública una respuesta, tienes que volver a realizar la solicitud a través de <i>derechoapreguntar.org</i>
      </p>
    </dd>
    <dt id="especiales">
      Disposiciones Especiales para la Costa Caribe de Nicaragua <a href="#especiales">#</a>
    </dt>
    <dd>
      <p>
        <strong>Principio de la Multi-etnicidad:</strong> El pueblo de Nicaragua es de naturaleza multi-étnica y por lo tanto la información pública deberá proveérsele también en las distintas lenguas existentes en la Costa Atlántica de nuestro país. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Arto. 3 inco. 3 LAIP)</a>
      </p>
      <p>
        Las Instituciones del Estado de Nicaragua, Gobiernos Regionales y Gobiernos Municipales, así como instituciones privadas reguladas por esta Ley, deben poner a disposición, de manera oportuna y completa, a los pueblos indígenas y comunidades afro-descendientes, toda información, diagnósticos, estudios, prospecciones y/o información pública de otra naturaleza, para contribuir al proceso de su desarrollo y bienestar socioeconómico, en base al conocimiento de su propia realidad.<a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Arto. 25 LAIP)</a>
      </p>
    </dd>
  </dl>
</div>
