<h2>
  ¿Qué pasa si no recibo respuesta?
</h2>
<p>
  La solicitud de información se considera resuelta negativamente, cuando exista respuesta expresa en ese sentido. Toda denegatoria de acceso a información pública deberá estar fundamentada legalmente.
</p>
<p>
 La institución queda obligada a proporcionarte la información, de manera inmediata, o en el plazo de 15 días hábiles, contados a partir de la fecha de presentada la solicitud. Este plazo puede ser prorrogado por 10 días hábiles adicionales si la información requiere más tiempo para reunirse por ser muy voluminosa, o se encuentra lejos de la OAIP o bien si requiere ser analizada por considerarse que puede estar comprendida en una de las excepciones que establece la Ley.
</p>
<p>
  La entidad deberá comunicar al solicitante, antes del vencimiento del plazo original de quince días, las razones por las cuales hará uso de la prórroga excepcional de los 10 días.
</p>
<p>
  No obstante, si la institución no responde, se está frente a un “silencio administrativo”, por lo que se podrá recurrir de apelación para que el funcionario competente ordene la entrega de la información. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">Ver Arto. 37 LAIP</a>
</p>
<p>
  En caso de denegatoria a la solicitud de acceso a la información deberá ser notificada al interesado a más tardar dentro del tercer día de haber sido dictada, debiéndose señalar las causas legales en las que se fundamenta la denegatoria. La cédula contendrá íntegramente la resolución.
</p>
<h2>
  ¿Qué pasa si recibo una respuesta que no me satisface?
</h2>
<p>
  Podrían haber ciertos casos en los que puedes estar insatisfecho con la respuesta a tu solicitud de información, nosotros te mostramos los más frecuentes:
</p>
<ol type="a">
  <li>Sólo has recibido parte de la información que solicitaste y no existe una resolución de confidencialidad o reserva para las partes que no fueron entregadas.
  </li>
  <li>Te han dicho que la información “no está en poder” de la institución al que enviaste tu solicitud de información pública.
  </li>
  <li>Te han denegado el derecho de acceso a la información o a los documentos que has solicitado, sin fundamentos legales.
  </li>
  <li>No has recibido ninguna respuesta (“silencio administrativo”).
  </li>
</ol>
<p>
  En estos casos puedes  utilizar los recursos legales que establece la Ley de Acceso a la Información Pública <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver  artículos 37 y 38 de la Ley de Acceso a la Información Pública)</a>.
</p>

<h2>
  ¿Cuáles son las causas legales por las que me pueden denegar la información que he solicitado?
</h2>
<p>
  Cuando la información solicitada sea información pública <strong>reservada</strong> o información <strong>privada</strong>.
</p>
<p>
  <strong>Información Pública Reservada:</strong> Es aquella que la autoridad reserva temporalmente, cuando se trata de:
</p>
<ol type="a">
  <li>Información cuya divulgación ponga en riesgo:
  </li>
  <li style="list-style: none">
    <ul>
      <li>La seguridad y defensa de la soberanía nacional.
      </li>
      <li>Las relaciones internacionales y los litigios ante tribunales internacionales o la estrategia de negociación de acuerdos comerciales o convenios de integración.
      </li>
      <li>Las actividades de prevención o persecución de los delitos y del crimen organizado.
      </li>
    </ul>
  </li>
  <li>Información bancaria, secretos comerciales, industriales, científicos o técnicos, intelectuales, propiedad de terceros o del Estado.
  </li>
  <li>Proyectos de sentencias, resoluciones y acuerdos de un órgano unipersonal o colegiado en proceso de decisión.
  </li>
</ol>
<p>
  Al catalogar la información como reservada, la autoridad deberá probar:
</p>
<ol>
  <li>Que la información se encuentra prevista en alguna de las excepciones de la Ley;
  </li>
  <li>Que la liberación de la información puede amenazar el interés público protegido por la Ley;
  </li>
  <li>Que el daño que puede producirse con la liberación de la información es mayor que el interés público de conocer la información de relevancia.
  </li>
</ol>
<p>
  La información podrá clasificarse como reservada hasta por un período de 10 años, que podrá ser prorrogado por un período adicional de 5 años, si se mantienen las causas que dieron origen a la reserva. Vencido ese plazo, la información es de libre acceso público.
</p>
<p>
  <strong>Información Privada:</strong> Está compuesta por datos personales referidos a la vida privada o de la familia, tales como salud, raza, preferencia política o religiosa, situación económica, social o familiar o a su honra y reputación. Esta información sólo puede ser divulgada con el consentimiento de la persona.
</p>
<p>
  <strong>El Habeas Data</strong> garantiza la protección de los datos privados y el acceso de toda persona a cualquier información que pueda tener cualquier entidad pública sobre ella, así como el derecho a saber por qué y con qué finalidad tiene esa información. ( Ver Punto 6)
</p>
<h2>
  Los recursos en Nicaragua
</h2>
<p>
  En caso que la entidad niegue el acceso a la información, entregue información incompleta o no conteste dentro del término establecido por la LAIP, la persona solicitante podrá (según la Ley de Acceso a la Información Pública y su Reglamento):
</p>
<ol>
  <li>Apelar por escrito o por vía electrónica ante la Coordinación de Acceso a la Información Pública que corresponda, dentro del término de 6 días de notificada la resolución. Esta instancia deberá resolver la apelación en un término de 30 días, agotándose con ella la vía administrativa. Si el escrito de apelación está incompleto, la Coordinación de Acceso a la Información Pública correspondiente deberá completar dichas omisiones. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">Ver artículos 37 y 38 de la Ley de Acceso a la Información Pública</a> <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/fb812bd5a06244ba062568a30051ce81/7f39c16b8858d606062574020077d8d3?OpenDocument">Ver artículos 88, 89 y 95 del Reglamento de la Ley de Acceso a la Información Pública.</a>



  </li>
</ol>
<p> Nota: se debe de tener presente que no contamos con información oficial sobre la creación y/o existencia de la Coordinación de Acceso a la Información Pública  en los Poderes del Estado, Gobiernos Regionales Autónomos de la Costa Atlántica y Gobiernos Municipales, cuya función, (según el artículo 13 de la Ley de Acceso a la Información Pública), es velar en el ámbito de su competencia, por el cumplimiento de la presente Ley y constituirse como segunda instancia para conocer y resolver los recursos de apelación que se interpongan contra las resoluciones denegatorias a las solicitudes de acceso a la información pública. Pero eso no te impide seguir adelante demandando una respuesta a tu solicitud; puedes hacer lo siguiente: </p>


<ol start="2">
  <li>Recurrir directamente a la Corte Suprema de Justicia ante la Sala de lo Contencioso Administrativo. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">( Arto. 38 y 39 LAIP)</a>
  </li>
</ol>

