
<h2>
  ¿Qué pasa si no recibo respuesta?
</h2>
<p>
  La solicitud de información se considera resuelta negativamente, cuando exista respuesta expresa en ese sentido. Toda denegatoria de acceso a información pública deberá estar fundamentada legalmente.
</p>
<p>
  La institución queda obligada a proporcionarte la información en el plazo de 15 días. Este plazo puede ser prorrogado por 10 días hábiles adicionales si la información requiere más tiempo para reunirse por ser muy voluminosa, o se encuentra lejos de la OAIP o bien si requiere ser analizada por considerarse que puede estar comprendida en una de las excepciones que establece la Ley.
</p>
<p>
  La entidad deberá comunicar al solicitante, antes del vencimiento del plazo original de quince días, las razones por las cuales hará uso de la prórroga excepcional de los 10 días.
</p>
<p>
  No obstante, si la institución no responde, se está frente a un “silencio administrativo”, por lo que se podrá recurrir de apelación para que el funcionario competente ordene la entrega de la información. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">(Ver Arto. 37 LAIP)</a>
</p>
<p>
  En caso de denegatoria a la solicitud de acceso a la información deberá ser notificada al interesado a más tardar dentro del tercer día de haber sido dictada, debiéndose señalar las causas legales en las que se fundamenta la denegatoria. La cédula contendrá íntegramente la resolución.
</p>
<h2>
  ¿Qué pasa si recibo una respuesta que no me satisface?
</h2>
<p>
  Podrían haber ciertos casos en los que puedes estar insatisfecho con la respuesta a tu solicitud de información, nosotros te mostramos los más frecuentes:
</p>
<ol type="a">
  <li>Sólo has recibido parte de la información que solicitaste y no existe una resolución de confidencialidad o reserva para las partes que no fueron entregadas.
  </li>
  <li>Te han dicho que la información “no está en poder” de la institución al que enviaste tu solicitud de información pública.
  </li>
  <li>Te han denegado el derecho de acceso a la información o a los documentos que has solicitado, sin fundamentos legales.
  </li>
  <li>No has recibido ninguna respuesta (“silencio administrativo”).
  </li>
</ol>
<p>
  En estos casos puedes utilizar los recursos legales planteados en el punto 19.
</p>
<p>
  Tendrás la posibilidad de categorizar tu respuesta según una lista de categorías (ver punto 17). Si no sabes cómo hacerlo te ayudaremos. <i>derechoapreguntar.org</i>
</p>
<h2>
  Categoría de las Respuestas
</h2>
<p>
  Las respuestas de las administraciones pueden ser muy diversas y según lo que nos contesten deberemos reaccionar de una u otra manera:
</p>
<ul>
  <li>
    <strong>Información recibida:</strong> La institución ha contestado a tiempo y con la información solicitada.
  </li>
  <li>
    <strong>Información recibida parcialmente:</strong> La institución ha contestado a tiempo pero no con toda la información solicitada porque considera una parte de esta información no debe ser pública.
  </li>
  <li>
    <strong>No tiene la información:</strong> La institución contesta alegando que no tienen la información.
  </li>
  <li>
    <strong>Información incompleta:</strong> La institución ha contestado a tiempo pero no incluye toda la información solicitada.
  </li>
  <li>
    <strong>Información inadecuada:</strong> La respuesta de la institución no corresponde a la información solicitada.
  </li>
  <li>
    <strong>Silencio:</strong> Transcurrido el tiempo que tiene para contestar, la institución no ha contestado.
  </li>
  <li>
    <strong>Esperando respuesta.</strong>
  </li>
  <li>
    <strong>Esperando una aclaración.</strong>
  </li>
  <li>
    <strong>Información denegada:</strong> la institución ha contestado denegando la información.
  </li>
  <li>
    <strong>Requiere revisión del administrador:</strong> Marca esta casilla si quieres que administrador de <i>derechoapreguntar.org</i> te revise la pregunta o la respuesta de esta solicitud.
  </li>
</ul>
<p>
  En los casos en los que no quedes satisfecho con falta respuesta, por ser la misma incompleta o inadecuada, recomendamos antes de plantear un recurso, dirigirse de nuevo a la institución para intentar recibir la información solicitada.
</p>
<h2>
  ¿Cuáles son las causas legales por las que me pueden denegar la información que he solicitado?
</h2>
<p>
  Cuando la información solicitada sea información pública <strong>reservada</strong> o información <strong>privada</strong>.
</p>
<p>
  <strong>Información Pública Reservada:</strong> Es aquella que la autoridad reserva temporalmente, cuando se trata de:
</p>
<ol type="a">
  <li>Información cuya divulgación ponga en riesgo:
  </li>
  <li style="list-style: none">
    <ul>
      <li>La seguridad y defensa de la soberanía nacional.
      </li>
      <li>Las relaciones internacionales y los litigios ante tribunales internacionales o la estrategia de negociación de acuerdos comerciales o convenios de integración.
      </li>
      <li>Las actividades de prevención o persecución de los delitos y del crimen organizado.
      </li>
    </ul>
  </li>
  <li>Información bancaria, secretos comerciales, industriales, científicos o técnicos, intelectuales, propiedad de terceros o del Estado.
  </li>
  <li>Proyectos de sentencias, resoluciones y acuerdos de un órgano unipersonal o colegiado en proceso de decisión.
  </li>
</ol>
<p>
  Al catalogar la información como reservada, la autoridad deberá probar:
</p>
<ol>
  <li>Que la información se encuentra prevista en alguna de las excepciones de la Ley;
  </li>
  <li>Que la liberación de la información puede amenazar el interés público protegido por la Ley;
  </li>
  <li>Que el daño que puede producirse con la liberación de la información es mayor que el interés público de conocer la información de relevancia.
  </li>
</ol>
<p>
  La información podrá clasificarse como reservada hasta por un período de 10 años, que podrá ser prorrogado por un período adicional de 5 años, si se mantienen las causas que dieron origen a la reserva. Vencido ese plazo, la información es de libre acceso público.
</p>
<p>
  <strong>Información Privada:</strong> Está compuesta por datos personales referidos a la vida privada o de la familia, tales como salud, raza, preferencia política o religiosa, situación económica, social o familiar o a su honra y reputación. Esta información sólo puede ser divulgada con el consentimiento de la persona.
</p>
<p>
  <strong>El Habeas Data</strong> garantiza la protección de los datos privados y el acceso de toda persona a cualquier información que pueda tener cualquier entidad pública sobre ella, así como el derecho a saber por qué y con qué finalidad tiene esa información. ( Ver Punto 6)
</p>
<h2>
  Los recursos en Nicaragua
</h2>
<p>
  En caso que la entidad niegue el acceso a la información, entregue información incompleta o no conteste dentro del término establecido por la LAIP, la persona solicitante podrá:
</p>
<ol>
  <li>Apelar por escrito o por vía electrónica ante la Coordinación de Acceso a la Información Pública que corresponda, dentro del término de 6 días de notificada la resolución. Esta instancia deberá resolver la apelación en un término de 30 días, agotándose con ella la vía administrativa. Si el escrito de apelación está incompleto, la Coordinación de Acceso a la Información Pública correspondiente deberá completar dichas omisiones.
  </li>
</ol>
<p>
  Ver Arto. 89 del Reglamento de la LAIP.
</p>
<ol start="2">
  <li>Recurrir directamente a la Corte Suprema de Justicia ante la Sala de lo Contencioso Administrativo. <a href="http://legislacion.asamblea.gob.ni/Normaweb.nsf/($All)/675A94FF2EBFEE9106257331007476F2">( Arto. 38 y 39 LAIP)</a>
  </li>
</ol>

